body {
	margin: 0;
	background: white;
	font-family: Arial;
}

header {
	color: grey;
	font-size: 30px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	padding: 0px;
}

ul {
    list-style-type: none;
}

.list {
	width: 400px;
	margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkmark {
	background-color: black;
}

.task {
	display: flex;
	color: black;
	padding: 5px 0px;
}

.delete {
    margin-left: auto;	
    background-color: red;
    border: none;
    color: white;
    padding: 1px 5px;
    font-size: 12px;
}

.user-input {
	width: 100%;
	padding: 5px 0px;
	margin: 5px 0px;
}